*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(./SL-043020-30500-40.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}